In [6]:
import csv
from pathlib import Path
import pandas as pd

In [7]:
load_csv = Path ("budget_data.csv")

In [9]:
budget_df = pd.read_csv(load_csv)

In [10]:
budget_df.head(5)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [19]:
total_months = 0
month_of_change = []
net_change_list = []
greatest_increase = ["",0]
greatest_decrease = ["", 999999999999999999999999]
total_net = 0

In [63]:
with open(load_csv) as data:
    reader = csv.reader(data)
    
    header = next(reader)
    
    first_row = next(reader)
    total_months = total_months +1 
    total_net = total_net + int(first_row[1])
    prev_net = int(first_row[1])
    
    for row in reader:
        # tracking the total number months
        total_months =total_months + 1
        total_net = total_net + int(row[1])
    
        net_change = int(row[1]) - prev_net
        prev_net = int(row[1])
        net_change_list = net_change_list + [net_change]
        month_of_change = month_of_change + [row[0]]
        
    ## calculating for Greatest increase
        if net_change > greatest_increase[1]:
            greatest_increase[0] = row[0]
            greatest_increase[1] = net_change
            
    ## calculating for Greatest decrease
        if net_change < greatest_decrease[1]:
            greatest_decrease[0] = row[0]
            greatest_decrease [1] = net_change

In [21]:
print(greatest_increase)

['Feb-2012', 1926159]

In [ ]:
# net average change

In [24]:
print(greatest_increase[1])

1926159

In [33]:
print (f"Greastest increase in profits: {greatest_increase[0]}: ${greatest_increase[1]}")

Greastest increase in profits: Feb-2012: $1926159

In [34]:
print(total_months)

86

In [35]:
print(net_change_list)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [58]:
print(greatest_decrease[0])

In [64]:
print (f"Greatest decrease in profits: {greatest_decrease[0]}: ${greatest_decrease[1]}")

Greatest decrease in profits: Sep-2013: $-2196167